table {
	width: 100%;
	border-collapse: collapse;
}

table, td {
	border: 1px solid #DBDBDB;
}

table tr:nth-child(even) {
	background-color: #ECECEC;
}

table tr:nth-child(odd) {
	background-color: #FFFFFF;
}
