@IMPORT url("resets.css");

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

img, object, embed {
	max-width: 100%;
}

img {
	height: auto;
}

#header {
	background: #FFFFFF url(../images/hystrix-logo-tagline-tiny.png) no-repeat scroll 99% 0%;
	height: 65px;
	margin-bottom: 5px;
}

#streamHeader {
  height: 65px;
  margin-bottom: 5px;
}

#streamHeader  h2 {
	float:left;
	color: black;
	position:relative;
	padding-left: 20px;
	top: 26px;
	font-size: 20px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#header .header_nav {
	position:absolute;
	top:48px;
	right:15px;
}

#header .header_links {
	float:left;
	color: lightgray;
	font-size: 18px;
	top: 3px;
	padding-left: 10px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#header .header_links a {
	color: white;
}

#header .header_clusters {
	float:left;
	position:relative;
	padding-left: 10px;
	top: -1px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

@media screen and (min-width: 1500px) {

	#header .header_nav {
		top:13px;
		right:130px;
	}

	#header {
		background: #FFFFFF url(../images/hystrix-logo-tagline-tiny.png) no-repeat scroll 99% 50%;
		height: 65px;
	}

	#streamHeader {
		height: 65px;
	}
}
