<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<filter>
		<display-name>HystrixRequestContextServletFilter</display-name>
		<filter-name>HystrixRequestContextServletFilter</filter-name>
		<filter-class>com.netflix.hystrix.contrib.requestservlet.HystrixRequestContextServletFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HystrixRequestContextServletFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<display-name>HystrixRequestLogViaResponseHeaderServletFilter</display-name>
		<filter-name>HystrixRequestLogViaResponseHeaderServletFilter</filter-name>
		<filter-class>com.netflix.hystrix.contrib.requestservlet.HystrixRequestLogViaResponseHeaderServletFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HystrixRequestLogViaResponseHeaderServletFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<description></description>
		<display-name>HystrixMetricsStreamServlet</display-name>
		<servlet-name>HystrixMetricsStreamServlet</servlet-name>
		<servlet-class>com.netflix.hystrix.contrib.metrics.eventstream.HystrixMetricsStreamServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>HystrixMetricsStreamServlet</servlet-name>
		<url-pattern>/hystrix.stream</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>HystrixConfigSseServlet</display-name>
		<servlet-name>HystrixConfigSseServlet</servlet-name>
		<servlet-class>com.netflix.hystrix.contrib.sample.stream.HystrixConfigSseServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>HystrixConfigSseServlet</servlet-name>
		<url-pattern>/hystrix/config.stream</url-pattern>
	</servlet-mapping>

    <servlet>
        <description></description>
        <display-name>HystrixUtilizationSseServlet</display-name>
        <servlet-name>HystrixUtilizationSseServlet</servlet-name>
        <servlet-class>com.netflix.hystrix.contrib.sample.stream.HystrixUtilizationSseServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HystrixUtilizationSseServlet</servlet-name>
        <url-pattern>/hystrix/utilization.stream</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>HystrixRequestEventsSseServlet</display-name>
        <servlet-name>HystrixRequestEventsSseServlet</servlet-name>
        <servlet-class>com.netflix.hystrix.contrib.requests.stream.HystrixRequestEventsSseServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HystrixRequestEventsSseServlet</servlet-name>
        <url-pattern>/hystrix/requests.stream</url-pattern>
    </servlet-mapping>

</web-app>
